extends layout

block content
  h1= title
  p Use the form below to add a contact.
  hr
  if msg
    ul 
      each val in msg 
        li(class='redtext')= val.msg 
  form(method='POST', action='/contacts/add')
    <label for="fname">First name:</label>
    | 
    input(type='text', name='firstName')
    <br>
    <br>
    <label for="lastname">Last name:</label>
    | 
    input(type='text', name='lastName')
    <br>
    <br>
    <label for="email">Email:</label>
    | 
    input(type='email', name='email')
    <br>
    <br>
    <label for="notes">Notes:</label>
    | 
    input(type='text', name='notes')
    | 
    <br>
    <br>
    button(type='submit') Create Contact 
    | 
    a(href='/contacts') Cancel 
