extends layout

block content
  h1 Welcome to ITMD 442 - Lab 2 Express Contacts
  p  by Rafael Armenta
  h2 Introduction
  p Hello, welcome to my Lab 2 page. This project allows users to look at contact information, insert, edit, and delete contact information which means I had to practice with some concepts of CRUD operations in a Node JS Express application. Users are able to input the first name, last name, an email address, and a note to create a contact. Only first and last names are required to insert data so there is some validation that prevents users from creating or editing the contact that has no text.
  p Please click the link below to travel to the Contacts Database
  a(href='/contacts/') View Contacts Database
  h3 My Contact Info
  p Rafael Armenta
  p rarmenta@hawk.iit.edu


